.toast {
    padding: 16px;
    min-width: 50px;
    color: #fff;
    text-align: start;
    border-radius: 4px;
    position: absolute;
    transition: opacity 0.3s ease-in;
    opacity: 0;
    opacity: 0;
    right: 0;
    bottom: 0;
    & h2 {
        margin: 0 0 8px 0;
        font-size: 18px;
    }
}

.toast.showing {
    transition: opacity 0.5s ease-out;
    opacity: 1;
}
.toast.info {
    background-color: #045597;
}
.toast.success {
    background-color: #006d04;
}
.toast.error {
    background-color: #ce3a2f;
}
.toast.warning {
    background-color: #c95101;
}
