.sidebar-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 0;
}
.arrow {
    margin-left: 0.5rem;
    width: 16px;
    height: 16px;
    background-image: url("/src/assets/open.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    display: inline-block;
}
.sidebar {
    font-size: 20px;
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: #2c3e50;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: all 0.3s ease-in;
    li::marker {
        color: black;
    }
}
.sidebar.closed {
    opacity: 0;
    transition: all 0.3s ease-in;
    transform: translateX(100%);
}
